@{
    ViewData["Title"] = "About";
}
<h2 style="text-align:center;color:blueviolet">@ViewData["Title"]</h2>
<h1 style="text-align:center;color:peru">Leadership Team</h1>
<hr />
<style>
  .row{
      display:block;

  }
</style>

<div class="container row " style="margin-left:160px;">
    <div class="col-lg-4">
        <img src="~/images/tuhin (1).jpg" height="220" width="200" />
        <p style="font-weight:800;">Tuhin Hossain</p>

    </div>

    <div class="col-lg-4">
        <img src="~/images/tuhin (3).jpg" height="220" width="200" />
        <p style="font-weight:800;">Shuvo Mojumdar</p>

    </div>
    <div class="col-lg-4">
        <img src="~/images/tuhin (2).jpg" height="220" width="200" />
        <p style="font-weight:800;">Sabbir Islam</p>

    </div>

</div>