@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketManagementSystem</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/superfish.css">

        <!-- Date Picker -->
        <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
       
        <!-- CS Select -->
        <link rel="stylesheet" href="~/css/cs-select.css">
        <link rel="stylesheet" href="~/css/cs-skin-border.css">

        <!-- Themify Icons -->
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <!-- Flat Icon -->
        <link rel="stylesheet" href="~/css/flaticon.css">
        <!-- Icomoon -->
        <link rel="stylesheet" href="~/css/icomoon.css">
        <!-- Flexslider  -->
        <link rel="stylesheet" href="~/css/flexslider.css">

        <!-- Style -->
        <link rel="stylesheet" href="~/css/style.css">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TicketManagementSystem</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @*<li><a asp-area="" asp-controller="Registations" asp-action="Index">Registation</a></li>*@
                    <li><a asp-area="" asp-controller="Payments" asp-action="Index">Payment</a></li>
                    <li><a asp-area="" asp-controller="FeedBacks" asp-action="Index">Feed Back</a></li>
                    
                    @if (Context.Session.GetString("U_Id") != null)
                    {
                
                <li> <a asp-area="" asp-controller="LogIn" asp-action="LogOut"> @ViewBag.Name Logout</a></li>
                    
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Registations" asp-action="Index">Registation</a></li>
                        <li><a asp-area="" asp-controller="LogIn" asp-action="LogIn">LogIn</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - TicketManagementSystem</p>
        </footer>
    </div>

    <environment include="Development">
        <!-- Javascripts -->
        <script src="~/js/jquery-2.1.4.min.js"></script>
        <!-- Dropdown Menu -->
        <script src="~/js/hoverIntent.js"></script>
        <script src="~/js/superfish.js"></script>
        <!-- Bootstrap -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/js/jquery.waypoints.min.js"></script>
        <!-- Counters -->
        <script src="~/js/jquery.countTo.js"></script>
        <!-- Stellar Parallax -->
        <script src="~/js/jquery.stellar.min.js"></script>
        <!-- Owl Slider -->
        <!-- // <script src="js/owl.carousel.min.js"></script> -->
        <!-- Date Picker -->
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <!-- CS Select -->
        <script src="~/js/classie.js"></script>
        <script src="~/js/selectFx.js"></script>
        <!-- Flexslider -->
        <script src="~/js/jquery.flexslider-min.js"></script>

        <script src="js/custom.js"></script>
        <!-- Modernizr JS -->
        <script src="~/js/modernizr-2.6.2.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
